{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">

		<h1 class="mt-4">Modification du produit
		</h1>
        
		{% for message in app.flashes('success') %}
			<div class="alert alert-success mt-4">
				{{ message }}
			</div>
		{% endfor %}


		{{ form_start(form) }}

		<div class="form-group">
			{{ form_label(form.name) }}
			{{ form_widget(form.name) }}
			{{ form_errors(form.name) }}
		</div>

		<div class="form-group">
			{{ form_label(form.prix) }}
			{{ form_widget(form.prix) }}
			{{ form_errors(form.prix) }}
		</div>

		<div class="form-group">
			{{ form_label(form.Description) }}
			{{ form_widget(form.Description) }}
			{{ form_errors(form.Description) }}
		</div>

		<div class="form-group">
			{{ form_label(form.categorie) }}
			{{ form_widget(form.categorie) }}
			{{ form_errors(form.categorie) }}
		</div>

		<div class="form-group">
			{{ form_row(form.submit) }}
		</div>

	</div>
	{{ form_end(form) }}

</div>{% endblock %}
