{% extends 'base.html.twig' %}

{% block title %}Mes Produits
{% endblock %}


{% block body %}

	<div class="container mt-4">
		<h1>
			Mes Produits
		</h1>

		<a href="{{ path('produits.new') }}" class="btn btn-primary">
			Creer un produit
		</a>

		<table class="table table-hover">
			<thead>
				<tr>
					<th scope"col">Numéro</th>
					<th scope"col">Nom</th>
					<th scope"col">Prix</th>
					<th scope"col">Description</th>
					<th scope"col">Date de création</th>
					<th scope"col">Edition</th>
					<th scope"col">Suppression</th>
				</tr>
			</thead>
			<tbody>
				{% for produit in produits %}
					<tr class="table-primary">
						<th scope="row">{{ produit.id }}</th>
						<td>{{ produit.name}}</td>
						<td>{{ produit.prix}}</td>
						<td>{{ produit.Description}}</td>
						<td>{{ produit.categorie}}</td>
						<td>{{ produit.creerLe|date("d/m/y")}}</td>
						<td><a href="{{ path('produits.edit', { id: produit.id }) }}" class="btn btn-info"> Modifier</a></td>
						<td><a href="{{ path('produits.delete', { id: produit.id }) }}" class="btn btn-warning"> Supprimer</a></td>


					</tr>

				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
